.ios, .md {
    page-statistics {
        .scroll-content{
            background-color: map-get($colors , contentBackground);
        }

        ion-card-header{
            font-weight: bold;
            text-align: center;
        }
    }
}
