page-home {}

.images{
    display: block;
    margin: auto;
}

.boximages{
    border-radius: 25px;
    border: 2px solid black;
    background-color: black;
    margin-bottom: 15px;
}

.content{
    background-color: map-get($colors , contentBackground );
}