<ion-header>
  <ion-navbar>
    <ion-title>
      Current Students
    </ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="addNewStudent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <button ion-button block icon-only (click)="goToStatsPage()">
      <ion-icon name="stats"></ion-icon>
    </button>
    <button ion-button block icon-only>
      <ion-icon name="funnel"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          Photo Id
        </ion-col>
        <ion-col>
          ID
        </ion-col>
        <ion-col>
          First Name
        </ion-col>
        <ion-col>
          Last Name
        </ion-col>
        <ion-col>
          Email
        </ion-col>
      </ion-row>
    </ion-grid>
    <ng-container *ngFor="let student of students; let isOdd=odd; let isEven=even">
      <button ion-item *ngIf="student.active == 'yes'" [class.odd]="isOdd" [class.even]="isEven" (click)="showStudentInfoModal(student)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-avatar>
                <img src="{{student.imageUrl}}">
              </ion-avatar>
            </ion-col>
            <ion-col>
              {{student.id}}
            </ion-col>
            <ion-col>
              {{student.firstName}}
            </ion-col>
            <ion-col>
              {{student.lastName}}
            </ion-col>
            <ion-col>
              {{student.email}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
    </ng-container>
  </ion-list>
</ion-content>
